body
{
	background-color: #EAEAEA;
	font-size: 16px;
}

.span12
{
	margin-top: 1em;
	background-color: #F2F1F1;
}
.container-fluid
{
	background-color: #EAEAEA;
}
.container-fluid
{
    padding-left: 10px;
    padding-right: 10px;
}
input, textarea, .uneditable-input
{
	width: 100%;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	padding: 0;
}

.textarea-note
{
	resize: none;
}

.full
{
	display: block;
    height: 2em;
    margin-top: 5px;
}


@media (max-width: 767px) {
  body 
  {
    padding-right: 5px;
    padding-left: 5px;
  }
}






























