.sliderkit{display:none;position:relative; text-align:left;}
.sliderkit a,
.sliderkit a:hover{text-decoration:none;}
.sliderkit a:focus{outline:none;}
.sliderkit img{border:0;}
.sliderkit .sliderkit-nav{z-index:10;text-align:center;}
.sliderkit .sliderkit-nav-clip{position:relative; margin:0 auto; overflow:hidden; height:auto !important;}
.sliderkit .sliderkit-nav-clip ul{position:relative;left:0;top:0;list-style:none;margin:0;padding:0;}
.sliderkit .sliderkit-nav-clip ul li{}
.sliderkit .sliderkit-nav-clip ul li a{display:block;overflow:hidden;}
.sliderkit .sliderkit-btn{z-index:10;}
.sliderkit .sliderkit-panel{z-index:1;position:absolute;overflow:hidden;}
.sliderkit .sliderkit-panel-active{z-index:5;}
.sliderkit .sliderkit-panel-old{z-index:4;}
.sliderkit .sliderkit-panel .sliderkit-panel-textbox{position:absolute;z-index:1;}
.sliderkit .sliderkit-panel .sliderkit-panel-text{position:absolute;z-index:3;top:0;left:0;}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay{position:absolute;z-index:2;top:0;left:0;}
.sliderkit .sliderkit-count{position:absolute;top:5px;right:5px;z-index:10;padding:5px;color:#fff;background:#000;}
.sliderkit .sliderkit-timer{position:absolute;top:0;left:0;z-index:10;height:3px;background:#ccc;}
.sliderkit-btn-disable{display:none;}

.photosgallery-std{width:382px;height:380px; }
/*.photosgallery-std .sliderkit-nav{left:0; bottom:0 ;width:100%; position:relative; margin-top:5px;}*/
.photosgallery-std .sliderkit-nav-clip ul li{ position:relative; margin-right:10px;}
.photosgallery-std .sliderkit-nav-clip ul li a{display:block; width:88px; height:60px; border:1px solid #888; padding:2px;}
.photosgallery-std .sliderkit-nav-clip ul li a img{max-width:100%;}
.photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected a{border:3px solid #0399FA; padding:0;}
/*.photosgallery-std .sliderkit-nav .sliderkit-nav-btn{position:absolute; top:0;}*/
/*.photosgallery-std .sliderkit-nav .sliderkit-nav-btn span{display:none;}*/
/*.photosgallery-std .sliderkit-nav .sliderkit-nav-btn a{display:block; width:18px; height:60px; */
background:url(../images/icons/slidekit_arrow.jpg);}
/*.photosgallery-std .sliderkit-nav .sliderkit-nav-prev{left:0px;}*/
.photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/{right:0px;}
/*.photosgallery-std .sliderkit-nav .sliderkit-nav-prev a{background-position:0 center;}*/
.photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/ a{background-position:-19px center;}
/*.photosgallery-std .sliderkit-nav .sliderkit-nav-btn a:hover{opacity:0.6; filter:alpha(opacity=60);}*/
.photosgallery-std .sliderkit-btn-disable,
.photosgallery-std .sliderkit-btn-disable a:hover{opacity:0.3; -khtml-opacity: 0.3;-moz-opacity: 0.3; cursor:default; display:block;}
.photosgallery-std .sliderkit-panel{top:0;left:0;width:382px; height:310px; background-color:#FFF; border:1px solid #888;}
.photosgallery-std .sliderkit-panels{display:inline-block; width:100%; height:310px;}
.photosgallery-std .sliderkit-wrap{width:380px; height:308px; display:table-cell; text-align:center; vertical-align:middle;}
.photosgallery-std .sliderkit-panel img{width:100%;}
.photosgallery-std .sliderkit-panel a{color:#000;}

.overview .photosgallery-std{width:50em;height:auto;  margin-top:10px; }
/*.overview .photosgallery-std .sliderkit-nav{left:0; bottom:0 ;width:95px; position:relative; margin-top:0; }*/
/*.overview .photosgallery-std .sliderkit-nav-clip,*/
/*.overview .photosgallery-std .sliderkit-nav-clip ul{width:95px !important;}*/
.overview .photosgallery-std .sliderkit-nav-clip ul li
{ 
	position:relative; 
	margin-right: 4px;
	margin-bottom:10px;
	float: left;
}
.overview .photosgallery-std .sliderkit-nav-clip ul li img{cursor:pointer; opacity:0.5; -khtml-opacity: 0.5;-moz-opacity: 0.5;}
.overview .photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected img{border:none; padding:0;
opacity:1; -khtml-opacity:1; -moz-opacity:1;}
/*.overview .photosgallery-std .sliderkit-nav .sliderkit-nav-btn{position:absolute; top:0; display:none;}*/
/*.overview .photosgallery-std .sliderkit-nav .sliderkit-nav-btn span{display:none;}*/
/*.overview .photosgallery-std .sliderkit-nav .sliderkit-nav-btn a{display:block; width:18px; height:60px; */
background:url(../images/icons/slidekit_arrow.jpg);}
/*.overview .photosgallery-std .sliderkit-nav .sliderkit-nav-prev{left:0px;}*/
.overview .photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/{right:0px;}
/*.overview .photosgallery-std .sliderkit-nav .sliderkit-nav-prev a{background-position:0 center;}*/
.overview .photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/ a{background-position:-19px center;}
/*.overview .photosgallery-std .sliderkit-nav .sliderkit-nav-btn a:hover{opacity:0.6; filter:alpha(opacity=60);}*/
.overview .photosgallery-std .sliderkit-btn-disable,
.overview .photosgallery-std .sliderkit-btn-disable a:hover{opacity:0.3; -khtml-opacity: 0.3;-moz-opacity: 0.3; cursor:default; display:block;}
.overview .photosgallery-std .sliderkit-panel{top:0;left:0;width:50em; height:415px; background-color:#FFF; border:none;}
.overview .photosgallery-std .sliderkit-panels{display:inline-block; width:50em; height:415px;}
.overview .photosgallery-std .sliderkit-wrap{width:50em; height:415px; display:table-cell; text-align:center; vertical-align:middle;}
.overview .photosgallery-std .sliderkit-panel img{width:100%;}
.overview .photosgallery-std .sliderkit-panel a{color:#000;}


.newsevent__detail--pic .photosgallery-std{width:100%;height:306px;  margin-top:5em; overflow:hidden;}
.newsevent__detail--pic .photosgallery-std .sliderkit-nav{left:0; bottom:0 ;width:108px; position:relative; margin-top:0; float:right;}
.newsevent__detail--pic .photosgallery-std .sliderkit-nav-clip,
.newsevent__detail--pic .photosgallery-std .sliderkit-nav-clip ul{width:108px !important;}
.newsevent__detail--pic .photosgallery-std .sliderkit-nav-clip ul li{ position:relative; margin-right:0; margin-bottom:6px;}
.newsevent__detail--pic .photosgallery-std .sliderkit-nav-clip ul li img{cursor:pointer; opacity:0.5; -khtml-opacity: 0.5;-moz-opacity: 0.5;}
.newsevent__detail--pic .photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected img{border:none; padding:0;
opacity:1; -khtml-opacity:1; -moz-opacity:1;}
/*.newsevent__detail--pic .photosgallery-std .sliderkit-nav .sliderkit-nav-btn{position:absolute; top:0; display:none;}*/
/*.newsevent__detail--pic .photosgallery-std .sliderkit-nav .sliderkit-nav-btn span{display:none;}*/
/*.newsevent__detail--pic .photosgallery-std .sliderkit-nav .sliderkit-nav-btn a{display:block; width:18px; height:60px; */
background:url(../images/icons/slidekit_arrow.jpg);}
/*.newsevent__detail--pic .photosgallery-std .sliderkit-nav .sliderkit-nav-prev{left:0px;}*/
.newsevent__detail--pic .photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/{right:0px;}
/*.newsevent__detail--pic .photosgallery-std .sliderkit-nav .sliderkit-nav-prev a{background-position:0 center;}*/
.newsevent__detail--pic .photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/ a{background-position:-19px center;}
/*.newsevent__detail--pic .photosgallery-std .sliderkit-nav .sliderkit-nav-btn a:hover{opacity:0.6; filter:alpha(opacity=60);}*/
.newsevent__detail--pic .photosgallery-std .sliderkit-btn-disable,
.newsevent__detail--pic .photosgallery-std .sliderkit-btn-disable a:hover{opacity:0.3; -khtml-opacity: 0.3;-moz-opacity: 0.3; cursor:default; display:block;}
.newsevent__detail--pic .photosgallery-std .sliderkit-panel{top:0;left:0;width:516px; height:306px; background-color:#FFF; border:none;}
.newsevent__detail--pic .photosgallery-std .sliderkit-panels{display:inline-block; width:516px; height:306px;}
.newsevent__detail--pic .photosgallery-std .sliderkit-wrap{width:516px; height:306px; display:table-cell; text-align:center; vertical-align:middle;}
.newsevent__detail--pic .photosgallery-std .sliderkit-panel img{width:100%;}
.newsevent__detail--pic .photosgallery-std .sliderkit-panel a{color:#000;}


.service__tab{display:inline-block; width:100%;}
.service__tab .sliderkit-panel{}

.service__tab .photosgallery-std{width:100%;height:auto;}
.service__tab .photosgallery-std .sliderkit-nav{
	position:relative;
	width:860px;
	left:50%;
	margin-left:-430px; 
	height:50px; 
	 
	padding:0;
	margin-bottom:10px;
}
.service__tab .photosgallery-std .sliderkit-nav-clip{margin:0 auto;}
.service__tab .photosgallery-std .sliderkit-nav-clip ul li{ position:relative; margin-right:14px;}
.service__tab .photosgallery-std .sliderkit-nav-clip ul li a{display:block; width:95px; height:auto; overflow:hidden;
	padding:0;
	border:none;
    display: block;
    height: 60px;
	position:relative;
}
.service__tab .photosgallery-std .sliderkit-nav-clip ul li a:hover{color:#adb3b6;}
.service__tab .photosgallery-std .sliderkit-nav-clip ul li a img{max-width:inherit;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
	-khtml-opacity: 0.5;-moz-opacity: 0.5;opacity: 0.5;	
	-webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;
}
.service__tab .photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected a img{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}
.service__tab .photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected a{border:none;}
.service__tab .photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected a:after{
	content:''; position:absolute; left:0; right:0; bottom:0; margin:auto;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #ccc;
}
/*.service__tab .photosgallery-std .sliderkit-nav .sliderkit-nav-btn{position:absolute; top:50%; margin-top:-14px;}*/
/*.service__tab .photosgallery-std .sliderkit-nav .sliderkit-nav-btn span{display:none;}*/
/*.service__tab .photosgallery-std .sliderkit-nav .sliderkit-nav-btn a{display:block; width:28px; height:28px;*/
background:url(../images/arrow_Slide.jpg);}
/*.service__tab .photosgallery-std .sliderkit-nav .sliderkit-nav-prev{left:0; right:auto; margin-left:-32px;}*/
.service__tab .photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/{right:0; margin-right:-32px;}
/*.service__tab .photosgallery-std .sliderkit-nav .sliderkit-nav-prev a{background-position:0 0;}*/
.service__tab .photosgallery-std .sliderkit-nav ./*sliderkit-nav-next*/ a{background-position:-28px 0;}
.service__tab .photosgallery-std .sliderkit-btn-disable{cursor:default; display:block; display:none;}
.service__tab .photosgallery-std .sliderkit-btn-disable a{cursor:default;}
.service__tab .photosgallery-std .sliderkit-panel{top:0;left:0;width:100%; height:auto;
border:none;}
.service__tab .photosgallery-std .sliderkit-panels{display:inline-block; width:100%; height:auto; position:relative; 
top:-14px; left:0;}
.service__tab .photosgallery-std .sliderkit-panel img{width:100%; border:1px solid rgba(255,255,255,0.6);}
.service__tab .photosgallery-std .sliderkit-panel a{color:#000;}


.sliderkit .sliderkit-nav-clip {
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.blog-image-show
{
	display: table;
    margin: 0 auto;
}

.main_c 
{
    max-height: 90px;
    overflow: hidden;
}
 
.tn_c {
    background-color: #FFF;
    display: table-cell;
    height: 90px;
    overflow: hidden;
    vertical-align: middle;
}
.tn_c img 
{
    max-width: 105px;
}





.photosgallery-vertical{height:306px; width:100%;}
.photosgallery-vertical .sliderkit-nav{top:0; bottom:0; margin:auto; width:108px; position:absolute; right:0;}
.photosgallery-vertical .sliderkit-nav-clip{left:0;}
.photosgallery-vertical .sliderkit-nav-clip ul li{margin:0 0 10px 0;padding:0;}
.photosgallery-vertical .sliderkit-nav-clip ul li a{display:block;width:75px;height:50px;overflow:hidden;padding:3px;}
.photosgallery-vertical .sliderkit-nav-clip ul li.sliderkit-selected a{padding:0;border:3px solid #c5dbe6;}
.photosgallery-vertical .sliderkit-nav-clip ul li img{width:100%;height:auto; cursor:pointer;
opacity:0.3; -khtml-opacity: 0.3;-moz-opacity: 0.3;}
.photosgallery-vertical .sliderkit-nav-clip ul li.sliderkit-selected img{
opacity:1; -khtml-opacity:1;-moz-opacity:1;}

.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn{position:absolute;left:0;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn a span{display:none;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev{top:0;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next{bottom:0;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev a{background:url(../images/arrow-top.png) center no-repeat;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next a{background:url(../images/arrow-bottom.png) center no-repeat;}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-btn a{display:block;width:108px; height:16px;
background-color:rgba(0,0,0,0.5);}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-prev a:hover{background:url(../images/arrow-top.png) 
center no-repeat; background-color:rgba(0,0,0,0.7);}
.photosgallery-vertical .sliderkit-nav .sliderkit-nav-next a:hover{background:url(../images/arrow-bottom.png) center no-repeat; background-color:rgba(0,0,0,0.7);}

.photosgallery-vertical .sliderkit-go-btn a{width:200px;height:300px;background:#ccc;opacity:.8;}
.photosgallery-vertical .sliderkit-go-prev{top:0;left:0;}
.photosgallery-vertical .sliderkit-go-next{top:0;right:0;}

.photosgallery-vertical .sliderkit-panel{top:0;left:0;width:516px;height:306px;}
.photosgallery-vertical .sliderkit-panels{float:left;}

.photosgallery-vertical .sliderkit-panel .sliderkit-panel-textbox{bottom:0;left:0;height:85px;width:500px;}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-text{height:65px;padding:10px 15px 10px 115px;font-size:0.9em;color:#fff;}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-text h4{height:auto;margin:0 0 7px;line-height:1.1em;font-size:1.1em;font-weight:bold;border:none;}
.photosgallery-vertical .sliderkit-panel .sliderkit-panel-overlay{height:85px;width:500px;background:#000;opacity:0.6;}



