/**
* Author: vee w.
* Package: Agni-CMS
*/



body {
	background: #eee;
	font-size: 12px;
}



.area-breadcrumb {
	margin: 0 0 10px;
}



.area-sidebar .each-block {
	border-bottom: 1px solid #eee;
	margin: 0 0 10px;
	padding: 0 0 10px;
}
.area-sidebar .each-block h3 {
	font-weight: normal;
	margin: 0 0 5px;
}
.area-sidebar .each-block ul {
	list-style: none;
	margin: 0 0 10px 20px;
}
.area-sidebar .language-switch-block {
	text-transform: capitalize;
	list-style: none;
	margin: 0;
	padding: 0;
}
.area-sidebar .language-switch-block:after {
	clear: both;
	content: '';
	display: table;
}
.area-sidebar .language-switch-block a {
	text-decoration: none;
}
.area-sidebar .language-switch-block li {
	border-radius: 5px;
	margin: 0;
	padding: 5px 5px 5px 10px;
	position: relative;
}
.area-sidebar .language-switch-block:hover li {
	background: #f5f5f5;
}
.area-sidebar .language-switch-block li ul {
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 1px 3px #aaa;
	display: none;
	left: 2px;
	list-style: none;
	margin: 0;
	position: absolute;
	top: 25px;
}
.area-sidebar .language-switch-block li:hover > ul {
	display: block;
}
.area-sidebar .language-switch-block li ul li {
	margin: 0;
	padding: 5px 5px 5px 10px;
}



.block-corebreadcrumb {
	font-size: 12px;
}
.block-corebreadcrumb ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-corebreadcrumb ul:after {
	clear: both;
	content: '';
	display: table;
}
.block-corebreadcrumb ul li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
}
.block-corebreadcrumb ul li:before {
	content: ' > ';
}
.block-corebreadcrumb ul li:first-child:before {
	content: '';
}
.block-corebreadcrumb ul li:last-child a {
	color: #555;
}



.block-corelogin label {
	margin: 0 0 10px;
}
.block-corelogin label input[type=text],
.block-corelogin label input[type=password] {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	min-height: 30px;
	width: 100%;
}



.block-coresearch form input[type=text] {
	width: 65%;
}



.comment-sample-delete {
	margin: 0 0 20px;
}



.demo-area {
	background: #ff0; 
	background-color: rgba(255,255,0,0.5); 
	outline: #ff4200 1px dotted;
}



.general-page-container h1 {
	font-weight: normal;
	margin-top: 0;
}



.list-posts .each-post {
	border-bottom: 2px solid #eee; 
	margin-bottom: 6px; 
	padding-bottom: 7px;
}
.list-posts .each-post footer {
	font-size: 11px; 
	margin-top: 10px;
}
.list-posts .each-post header {margin-bottom: 10px;}
.list-posts .each-post header h1 {
	font-size: 28px; 
	font-weight: normal;
	margin: 0 0 5px;
}
.list-posts .each-post header small {font-size: 11px;}



.page-author,
.page-category,
.page-search {
	background: #fafafa;
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
	padding: 0;
}
.page-author h1,
.page-category h1 {
	font-size: 33px;
	margin: 5px 5px 5px 10px;
}
.page-category .page-category-description {
	margin: 5px 5px 5px 10px;
}
.page-search form {
	padding-top: 5px;
}



.page-container {
	background: #fff;
	border: 1px solid #C4B2AC;
	border-radius: 8px;
	box-shadow: 0 1px 3px #F9BAA7;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
}



.page-footer-row {
	font-size: 11px;
}
.page-footer-row small {
	color: #999;
}
.page-footer-row small a {
	color: #999;
}



.page-header-row .account-header-area {
	font-size: 12px;
}
.page-header-row .account-header-area a {
	margin: 0 0 0 10px;
}
.page-header-row .brand a {
	transition: all 0.5s ease;
	text-decoration: none;
}
.page-header-row .brand a:hover {
	color: #ff4200;
}



.post-page .comments {
	border-top: 3px solid #ddd; 
	overflow: hidden; 
	padding-top: 10px;
}
.post-page .comments h2 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 10px;
}
.post-page .comments .comment-add-title {
	font-weight: normal; 
	margin: 15px 0 10px 0;
}
.post-page .comments .comment-add-wrapper .form-item label {
	font-weight: bold; 
	margin-right: 20px;
}
.post-page .comments .comment-un-approve {background: #eee;}
.post-page .comments .each-comment {
	border: 1px solid #ddd; 
	border-radius: 5px; 
	margin: 0 0 10px 80px; 
	padding: 10px;
}
.post-page .comments .each-comment footer {
	color: #777; 
	font-size: 11px; 
	margin-bottom: 5px;
}
.post-page .comments .each-comment footer .comment-author {position: relative;}
.post-page .comments .each-comment footer .comment-author .comment-avatar {
	border-radius: 5px; 
	box-shadow: 1px 1px 3px rgb(200,200,200); 
	left: -90px; 
	max-height: 90px; 
	max-width: 70px; 
	position: absolute;
}
.post-page .comments .each-comment h3 {
	font-size: 15px; 
	margin-bottom: 10px;
}
.post-page .comments .each-comment p {
	margin-bottom: 10px; 
	word-wrap:break-word;
}
.post-page .comments .each-comment .comment-tools {font-size: 11px;}
.post-page .comments .each-comment .comment-tools ul {
	list-style: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}
.post-page .comments .each-comment .comment-tools ul li {
	float: left; 
	margin: 0 10px 0 0;
}
.post-page .comments .indent {margin-left: 1.5em;}
.post-page .entry {
	margin: 0 0 15px;
}
.post-page .post-page-header {
	margin: 0 0 15px;
}
.post-page .post-page-header h1 {
	font-weight: normal;
	margin: 0 0 10px;
}
.post-page .post-page-header small {
	font-size: 12px;
	margin: 0;
}
.post-page .taxonomy-term {
	border-top: 1px solid #ddd; 
	margin-bottom: 15px; 
	padding-top: 10px;
}
.post-page .taxonomy-term ul.items {
	display: block; 
	list-style: none; 
	margin: 0; 
	overflow: hidden; 
	padding: 0; 
	width: 100%;
}
.post-page .taxonomy-term ul.items > li {
	display: block; 
	float: left; 
	margin: 0; 
	width: 50%;
}
.post-page .taxonomy-term ul.items li h3 {
	color: #666; 
	font-size: 15px; 
	font-weight: normal;
}
.post-page .taxonomy-term ul.items li ul {
	display: inline; 
	list-style: none; 
	margin: 0; 
	padding: 0;
}
.post-page .taxonomy-term ul.items li ul li {
	display: inline; 
	margin: 0; 
	padding: 0;
}
.post-page .taxonomy-term ul.items li ul li:before {content: ', ';}
.post-page .taxonomy-term ul.items li ul li:first-child:before {content: '';}



.site-navigation {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 0 0 20px;
	padding: 5px 0;
}
.site-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-navigation ul:after {
	clear: both;
	content: '';
	display: table;
}
.site-navigation ul li {
	float: left;
	position: relative;
}
.site-navigation ul li a {
	border-radius: 5px;
	display: block;
	margin: 2px 2px 2px 0;
	padding: 10px;
}
.site-navigation ul li a:hover {
	background: #f5f5f5;
	text-decoration: none;
}
.site-navigation ul li.active a {
	background: #08c;
	color: #fff;
}
.site-navigation ul li:hover > ul {
	display: block;
}
.site-navigation ul ul {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px #ccc;
	display: none;
	left: 0;
	position: absolute;
	top: 40px;
	width: 150px;
}
.site-navigation ul ul li {
	display: block;
	float: none;
	margin: 0;
	padding: 0;
}
.site-navigation ul ul li a {
	background: transparent;
	border-radius: 0;
	display: block;
	margin: 0;
	padding: 5px;
}
.site-navigation ul li.active ul li a {
	background: transparent;
	color: #08c;
}
.site-navigation ul li.active ul li a:hover {
	background: #f5f5f5;
}
.site-navigation ul ul ul {
	left: 150px;
	position: absolute;
	top: 0;
}



.txt_require {
	color: #f00;
	font-weight: bold;
}



/* article tools */
.each-post:hover > .article-tools, 
.post-page:hover > .article-tools {display: block;}
.article-tools {
	display: none; 
	height: 0; 
	margin: 0; 
	padding: 0; 
	position: relative;
}
.article-tools .btn-group {
	position: absolute;
	right: 0;
	top: 0;
}


